/* about sabi kerja */
.about-section {
    padding: 80px 20px;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.about-section h1 {
    font-size: 32px;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
}

.about-section .highlight {
    color: #EF4928;
}

.about-content {
    text-align: left;
}

.about-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
}

.about-content p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}