/* gambar */
.image-gallery {
    padding: 20px;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 12px;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}