/* tulisan sponsor 10 minute dan 30+ */
.stats-section {
    padding: 60px 20px;
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 100px; /* Jarak antar elemen */
    max-width: 900px;
    margin: auto;
}

.stat-item h2 {
    font-size: 36px;
    font-weight: bold;
    color: #EF4928;
}

.stat-item p {
    font-size: 16px;
    color: #555;
}