/* testimonial */
.testimonials {
    text-align: center;
    padding: 50px 20px;
    position: relative;
    background: #FFE9DB;
}

.testimonial-slider {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.testimonial-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    min-width: 100%;
    background: #ffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h3 {
    color: #F25130;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #444;
    line-height: 1.6;
}

span {
    font-weight: bold;
    color: #222;
}

.dots {
    margin-top: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #F25130;
}